@use "../../../styles/index.scss" as *;

.stepsInfoCardWrapper {
  @include flexRowConstructor(start, start);
  width: 100%;
  height: 100%;

  .sliderWrapper {
    @include flexRowConstructor(start, start, 2.5rem);
    transition: all 150ms;

    @include xmd {
      width: 100%;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;

      gap: 1rem;
    }
  }
}
