$gray-0: #ffffff;
$gray-50: #f5f5f5;
$gray-100: #bebebe;
$gray-150: #a4a4a4;
$gray-200: #1a202c;
$gray-250: #040815;

$blue-0: #c3d4e9;
$blue-50: #90a3bf;
$blue-100: #596780;

$accent-0: #ff001d;
$accent-50: #d00018;

$BG: rgba(4, 8, 21, 0.8);
$STROKE: rgba(255, 255, 255, 0.16);
