@use "../../../styles/index.scss" as *;

.productsContainer {
  @include flexColumnConstructor(start, start, 3.75rem);
  order: 4;

  width: 100%;
  height: 907px;

  border-radius: 32px;
  padding: 80px;

  overflow-x: hidden;

  background: $gray-0;

  @include md {
    padding: 32px 24px;
    order: 4;
    height: auto;
  }
  @include s {
    gap: 2rem;
  }

  .headerWrapper {
    @include flexRowConstructor(end, space-between, 1rem);
    width: 100%;

    .titleWrapper {
      @include flexColumnConstructor(start, start);

      :nth-child(1) {
        @include jakarta($accent-0, 600, 1.25);
        line-height: 150%;
        letter-spacing: -0.02em;
        text-transform: uppercase;

        @include s {
          font-size: 0.75em;
        }
      }
      :nth-child(2) {
        @include jakarta($gray-250, 700, 3);
        line-height: 150%;
        letter-spacing: -0.03em;

        @include s {
          font-size: 1.5em;
        }
      }
    }

    .buttonWrapper {
      @include flexRowConstructor(start, start, 1rem);

      @include xmd {
        display: none;
      }

      .leftButton,
      .rightButton {
        @include flexRowConstructor(center, center);

        width: 48px;
        height: 48px;
        border-radius: 16px;

        cursor: pointer;
        transition: all 150ms;

        &:hover {
          opacity: 0.7;
        }
      }
      .leftButton {
        background: $gray-50;
      }
      .rightButton {
        background: $accent-0;
        rotate: 180deg;
      }
    }
  }

  .infoWrapper {
    @include flexRowConstructor(start, space-between);

    border-radius: 32px;
    padding: 40px;
    width: 100%;
    height: 141px;

    background: $gray-50;

    @include xmd {
      gap: 1.5rem;
      padding: 20px;
      height: auto;
      flex-direction: column;
    }

    .infoTitle {
      @include jakarta($gray-200, 500, 1.125);
      line-height: 140%;

      max-width: 272px;
      width: 100%;

      @include s {
        font-size: 1em;
      }
    }

    .infoBlock {
      @include flexRowConstructor(start, end, 1rem);
      width: 100%;

      @include xmd {
        gap: 0.5rem;
        flex-direction: column;
      }

      .info {
        @include flexRowConstructor(center, center, 0.625rem);

        border-radius: 16px;
        max-width: 388px;
        width: 100%;
        height: 61px;

        background: $gray-0;

        text-decoration: none;
        transition: all 150ms;

        @include xmd {
          width: 100%;
          max-width: none;
        }

        :nth-child(1) {
          width: 22px;
          height: 22px;
          background-repeat: no-repeat;
          background-size: cover;

          @include s {
            width: 18px;
            height: 18px;
          }
        }
        :nth-child(2) {
          @include jakarta($gray-200, 600, 1);
          line-height: 120%;

          @include s {
            font-size: 0.875em;
          }
        }

        &:hover {
          background: $gray-200;

          :nth-child(2) {
            color: $gray-0;
          }
        }
      }
    }
  }
}
